p-card{
    margin: 10px
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.box{
    margin: 10px;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.icono{
    padding: 1rem;
}
.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}